p,
span {
    color: #262C3A;
    font-family: Poppins;
}

#plot_common_one_image_two {
    height: 150px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#plot_common_one_image_three {
    height: 150px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#plot_common_two_image_one {
    height: 150px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proof-p p {
    display: block;
}